helmCharts:
  - name: cert-manager
    repo: https://charts.jetstack.io
    version: v1.16.2
    releaseName: cert-manager
    namespace: cert-manager
    valuesInline:
      crds:
        enabled: true
      prometheus:
        enabled: false
