apiVersion: v1
kind: ConfigMap
metadata:
  name: minimotd-external-config
  namespace: {{ .Release.Namespace }}
  labels:
    app: minecraft
    chart: {{ .Chart.Name }}
    release: {{ .Release.Name }}
data:
  main.conf: |
{{ .Files.Get "files/main.conf" | indent 4 }}
