apiVersion: v1
kind: ConfigMap
metadata:
  name: minimotd-external-config
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "minecraft.labels" . | nindent 4 }}
data:
  main.conf: |
{{ .Files.Get "files/main.conf" | indent 4 }}

