# Minecraft サーバー設定
# itzg/minecraft-server Helm Chart 用の values.yaml
minecraft:
  fullnameOverride: "my-minecraft"
  image:
    repository: itzg/minecraft-server
    tag: java21
    pullPolicy: Always

  replicaCount: 1

  podSecurityContext:
    runAsUser: 1000
    runAsGroup: 3000
    fsGroup: 2000
    seccompProfile:
      type: RuntimeDefault

  securityContext:
    capabilities:
      drop:
        - ALL
    readOnlyRootFilesystem: true
    allowPrivilegeEscalation: false

  # サーバー設定
  minecraftServer:
    eula: "TRUE"
    version: "1.20.6"
    type: "PAPER"
    difficulty: "normal"
    levelType: "minecraft:normal"
    motd: "ようかんのサーバーへようこそー"
    # サーバーアイコン (URLから自動取得)
    icon: "https://s3.youkan.uk/misskey/1b56dc5e-710e-4321-9f62-06e6c6d13f48.png"
    
    memory: 14G
    maxPlayers: 20
    allowNether: true
    enableCommandBlock: true
    generateStructures: true
    hardcore: false
    spawnAnimals: true
    spawnMonsters: true
    spawnNPCs: true
    viewDistance: 10
    gameMode: survival
    
    # OP権限を付与するユーザー
    ops: Youkan0124
    
    # サービス設定
    serviceType: LoadBalancer
    servicePort: 25565
    loadBalancerIP: 192.168.0.220
    externalTrafficPolicy: Local
    jvmOpts: "-XX:+UseG1GC -XX:MaxGCPauseMillis=200 -XX:+ParallelRefProcEnabled"
    
    spigetResources:
      - 90741   # PingCheck
      - 96927   # DecentHolograms
      - 101066  # Death Chest
      - 8695    # AdvancedBan
    
    pluginUrls:
      - https://cdn.modrinth.com/data/16vhQOQN/versions/mwkVZ6FJ/minimotd-bukkit-2.2.2.jar #なんかmotdカラフルにできるやつ
      - https://github.com/dmulloy2/ProtocolLib/releases/download/dev-build/ProtocolLib.jar # protcollib
      - https://github.com/ViaVersion/ViaVersion/releases/download/5.7.0/ViaVersion-5.7.0.jar  # ViaVersion
      - https://github.com/ViaVersion/ViaBackwards/releases/download/5.7.0/ViaBackwards-5.7.0.jar  # ViaBackwards
      - https://github.com/ViaVersion/ViaRewind/releases/download/4.0.13/ViaRewind-4.0.13.jar  # ViaRewind
      - https://github.com/kernitus/BukkitOldCombatMechanics/releases/download/v2.2.0/OldCombatMechanics-v2.2.0.jar  # OldCombatMechanics
      - https://www.curseforge.com/api/v1/mods/31620/files/6769644/download  # Dynmap
    
    # Dynmap 用のポート公開設定
    extraPorts:
      - name: dynmap
        containerPort: 8123
        protocol: TCP
        service:
          enabled: true
          type: ClusterIP
          port: 8123
        ingress:
          enabled: true
          ingressClassName: cloudflare
          hosts:
            - name: dynmap.youkan.uk
              path: /
  
  extraEnv:
    NETWORK_COMPRESSION_THRESHOLD: "256" 
    PLAYER_IDLE_TIMEOUT: "600"
    JVM_XX_OPTS: "-Djava.net.preferIPv4Stack=true"

  persistence:
    dataDir:
      enabled: true
      Size: 20Gi
      storageClassName: nfs-client
  
  resources:
    requests:
      memory: 4Gi
      cpu: 1000m
    limits:
      memory: 16Gi
      cpu: 4000m

  extraVolumes:
    - volumes:
        - name: minimotd-config-vol
          configMap:
            name: minimotd-external-config
            defaultMode: 0644

  initContainers:
    - name: copy-minimotd-config
      image: busybox:1.35
      securityContext:
        runAsUser: 1000
        allowPrivilegeEscalation: false
      command:
        - sh
        - -c
        - |
          mkdir -p /data/plugins/MiniMOTD
          cp -fv /config/main.conf /data/plugins/MiniMOTD/main.conf
          echo "✅ Config copied"
      volumeMounts:
        - name: minimotd-config-vol
          mountPath: /config
        - name: datadir
          mountPath: /data

# ===== ヘルスチェック (TCP版) =====
  livenessProbe:
    command:
      - mc-health
    initialDelaySeconds: 30
    periodSeconds: 5
    failureThreshold: 20
    successThreshold: 1
    timeoutSeconds: 10
  readinessProbe:
    command:
      - mc-health
    initialDelaySeconds: 30
    periodSeconds: 5
    failureThreshold: 20
    successThreshold: 1
    timeoutSeconds: 10
  startupProbe:
    command:
      - mc-health
    enabled: false
    failureThreshold: 30
    periodSeconds: 10